################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/DS.PlexRatingsSync.Tests/obj
/Solution/PlexRatingsSync/bin/Release
/Solution/PlexRatingsSync/obj
/Solution/PlexRatingsSync/bin/Debug
